
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: rgb(200,200,200);
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;
    z-index: -100;
    
    background-image: -webkit-linear-gradient(    left, rgb(180,180,180) 0%, rgb(250,250,250) 50%, rgb(180,180,180) 100%);
    background-image:    -moz-linear-gradient(   right, rgb(180,180,180) 0%, rgb(250,250,250) 50%, rgb(180,180,180) 100%);
    background-image:      -o-linear-gradient(   right, rgb(180,180,180) 0%, rgb(250,250,250) 50%, rgb(180,180,180) 100%);
    background-image:         linear-gradient(to right, rgb(180,180,180) 0%, rgb(250,250,250) 50%, rgb(180,180,180) 100%);
}

.hidden {
    display: none;
}


nav {
    width: 600;
    margin: 0 auto;
}

nav a {
    display: inline-block;    
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.05);
    font-size: 130%;
    color: #000;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
}

nav a:first-of-type {
    border-bottom-left-radius: 20px;
}

nav a:last-of-type {
    border-bottom-right-radius: 20px;
}

nav a:hover {
    background-color: rgba(0,0,0,0.10);
}

@media screen and (max-width: 620px) {
    nav {
        width: 90%;
    }
    
    nav a {
        display: block;
    }
    
    nav a:first-of-type {
        border-bottom-left-radius: 0;
    }

    nav a:last-of-type {
        border-bottom-left-radius: 20px;
    }
}

h1 {
    font-size: 160%;
    margin: 30px auto;
}

h2 {
    font-size: 130%;
    margin: 30px auto;
}

h3 {
    font-size: 100%;
    margin: 30px auto 10px;
}

p {
    font-size: 70%;
}

p a {
    color: #000;
}

.menu {
}

#gameNav .item ,
.menu .item {
    margin: 25px auto;
}

#gameNav .item a ,
.menu .item a {
    font-size: 100%;
    color: #000;
    text-decoration: underline;
}

.menu .item  textarea {
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 600px;
    resize: vertical;
    font-size: 50%;
}

#pageWrapper {
    padding-bottom: 50px;
}

#customMapItem {
    margin: 50px auto;
}

#gamePageWrapper {
    width: 100%;
    height: 100%;
}

body.active  #gamePageWrapper #gameNav {
    display: none;
}

body.inactive  #gamePageWrapper  #gameNav {
    display: block;
    background-color: rgba(200, 200, 200,0.75);
    position: absolute;
    z-index: 200;
    width: 100%;
}

#gamePageWrapper  #gameNav .item {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

#gamePageWrapper  #gameNav .item:first-child {
    margin-top: 100px;
}

#gameCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 100;
}

body.inactive .buttons {
    width: 100%;
    height: 50%;
    text-align: center;
}

body.active .buttons {
    display: none;
}

select {
    font-size: 90%;
}

#pageConsole {
    display: none;
}

body.active #pageConsole {
    /* display: block; */
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    overflow: none;
    background-color: rgba(0,0,0,0);
    color: #fff;
    text-align: center;
    padding: 0 1%;            
    font-size: 30px;
    font-family: Impact, Charcoal, sans-serif;
    z-index: 200;
}

/* 
@media screen and (max-width: 999px) {
    body {
    }
}
@media screen and (min-width: 1000px) and (max-width: 1999px) {
    body {
    }
}

@media screen and (min-width: 2000px) {
    body {
    }
}
*/
